/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
  *,
*::after,
*::before{

  margin: 0;
  padding:0;
  box-sizing: border-box;
}
  /******************************************
  /* LAYOUT
  /*******************************************/
  html{
    width:100%;

  }
  header, footer{
    clear: both;
    margin:0;
  }
  body{
   
   
    font-family: 'Rubik', sans-serif;
  }
  :root{
     --color-peach:#f88989;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  aside{
    width:350px;
    height:2000px;
    border: 3px solid var(--color-peach);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-peach);
    position:absolute;
  }
  ul{
    list-style: none;
    margin: 0px;
    padding: 0;
    text-transform: uppercase;
}
p{
    text-align: center;
    margin-left: 600px;
    margin-right: 300px;;
}
li{
    margin-top: 50px;
    padding: 15px 0;
}
a:hover{
    color: #eeedff;
    cursor: pointer;
    font-weight: bolder;
}
li:not(:last-of-type){
    border-bottom: 1px solid black;
}
nav h1{
    font-size: 20px;
}
main{
    
    width:100%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eeedff;
  

}
section{
    height: 500px;
    width:100%;
}
main h1{
   font-size: 40px;
   margin-left: 200px;
}
.graph{
    
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #eeedff;
}
#pie-chart{
    height:300px;
    width:300px;
    border-radius: 50%;
    border:2px solid grey;
    margin-left: 200px;
    background: conic-gradient(var(--color-peach) 60%, #ff7676 40%);
}
#legenda{
    margin-left: 700px;
    margin-top: -100px;
    background-color: #eeedff;
    font-weight: bolder;
    padding: 5px;
    
}
.color-entry{
    height:10px;
    width:10px;
}
.text-entry{

    margin-left:5px;
}
.entry{
 display: flex;
 align-items: center;
 
}
#color-One{
   background-color: #f88989;
}
#color-Two{
    background-color: #ff7676;
}
.skills-sec{
    display: flex;
      /* border:3px solid red; */
      text-align: center;
    flex-direction: column;
     width:100%;
     height:800px;
     background-color: #eeedff;
}
.edu{
    width:50%;
    height:590px;
    /* border:3px solid olive;  */
    display: flex;
    flex-direction: row;
   
    
}
.edu h1{
    margin-top:80px;
    margin-left:10px;
    margin-right: 5px;;
}
.edu p{
align-items: center;
margin-top: 150px;
margin-right: 10px;
margin-left: 50px;
}
#heading{
  margin-left:10px;
  margin-top:210px;
}
.skills-con{
    width:50%;
    height:590px;
    /* border:3px solid blue;  */
    display: flex;
    flex-direction: column;
    margin-left:550px;
   margin-top:20px;
    
}
.skills-con label{
  margin-left:-300px;
  margin-top: 30px;
  font-weight: 800;
}
.progress-bar{
    border:none;
    font-weight: bolder;
    background:grey;
    width:50%;
    align-items:center ;
    border-radius:20px;
    justify-content: center;
    text-align: center;
    margin-left:180px;
    margin-top:10px;
    transition: .3s;
}
.progress-prec-html{
   width:80%;
   border-radius:20px;
   border:none;
   background-color: var(--color-peach);
}
.progress-prec-java{
    width:70%;
    border-radius:20px;
    border:none;
    background-color: var(--color-peach);
 }
.progress-prec-javascript{
    width:50%;
    border-radius:20px;
    border:none;
    background-color: var(--color-peach);
 }
 .progress-prec-Csharp{
    width:70%;
    border-radius:20px;
    border:none;
    background-color: var(--color-peach);

 }
 .progress-prec-Cplus{
    width:40%;
    border-radius:20px;
    border:none;
    background-color: var(--color-peach);

 }
 .progress-prec-SQL{
    width:80%;
    border-radius:20px;
    border:none;
    background-color: var(--color-peach);
 }
 .progress-prec-python{
    width:40%;
    border-radius:20px;
    border:none;
    background-color: var(--color-peach);
 }
img{
    height:200px;
    margin-top: -950px;
}
.skills{
    font-size: 30px;
    margin-top: 10px;;
}

.line{
    background-color: #ff7676;
    height:3px;
    width:100px;
    margin-left: -120px;
    margin: 10px;
     margin-bottom: 20px;
}
.projects{
    background-color: #eeedff;
    height:500px;
    width:100%;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    height:410px;
    width:35%;
    margin: 10px;
    border: 3px solid #ff7676;
    margin-top:50px ;
    margin-left: 20px;
   
}
.block img{
    height:400px;
    width:100%;
    margin-top: 0px;
}
.first{
    margin-left: 200px;

}
.icons{
    height:300px;
    width:100%;
    /* border:3px solid #eeedff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons img{
    height:50px;
   margin-top: 20px;
}